/* NOTE: Games tab */
.activityFeed-28jde9 {
    background-color: rgba(0, 0, 0, .4) !important;
}

.card-7JP0BX {
    background-color: rgba(0, 0, 0, 0.55) !important;
}


.body-SKIE6r {
    background-color: rgba(40, 40, 40, 0.3) !important;
}

.header-1RC2Wb {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.article-FleDq5 {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.news-2GDtLJ {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.carousel-JbsNzL {
    background-color: transparent !important;
}

.paginationItem-3-MBTL:after {
    background: linear-gradient(270deg,transparent 0,rgba(0, 0, 0, 0.65));
}

.emptyState-2-sT0o {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* Message button */
.headerButtonColor-G7_f-V, .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background: rgba(0, 0, 0, 0.5) !important;
}

.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: var(--main-color, #E20B6C) !important;
}

/* Game preview */
.gamePreview-9weYR2 {
   background-color: rgba(0, 0, 0, 0.9) !important;
}

.body-1SVoBw {
    background-color: transparent !important;
}

.info-P9dFwH {
    background-color: #151414 !important;
}

.splashBackup-1SNkdx {
    background-image: url(https://i.imgur.com/GL3dW1d.jpg) !important;
    background-size: cover;
    background-position: center;
}

/* Quick launcher */
.dockItem-2kQDqg:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--main-color, #E20B6C) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: var(--hover-color, #E20B6C) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
    background-color: #353535 !important;
}