$sa: var(--avatar-radius, 0px) !important;

//DM
.avatar-1BDn8e, .avatar-3uk_u9, .wrapper-3t9DeA, .da-avatar, .wrapper-2QE8vf {
    border-radius: $sa;
    svg > foreignObject {
        mask: none !important;
    }
}

//Friend list
.inner-1W0Bkn {
    border-radius: $sa;
}

//DM VOIP
.callAvatar-v-u4BM.voice-2D-tt_ {
    border-radius: $sa;
}

.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI { // Speaking circle
    border-radius: $sa;
}