.avatarWrapper-29j3CC {
    width: 120px !important;
    height: 120px !important;
}

.content-2Sfaij > div {
    background-color: rgba(0,0,0,.25) !important;
}

.tile-2gi3tr {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.form-2fGMdU {
    background-color: rgba(0,0,0,0.2) !important;
    margin-top: 0 !important;
    &:before {
        background: none !important;
    }
}