.homeIcon-tEMBK1 {
    display: none;
}

a[aria-label=Home] {
    background-image: url("https://i.imgur.com/EQ9ex3N.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    > div {
        background-color: transparent !important;
    }
}