.homeIcon-tEMBK1 {
    display: none;
}

.button-OhfaWu, .theme-light .button-OhfaWu, .wrapper-1BJsBx > .childWrapper-anI2G9 {
    background: url(https://i.imgur.com/EQ9ex3N.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}