.applicationStore-1pNvnv {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.tileWrapper-2khh-w {
    background-color: rgba(0, 0, 0, 0.45) !important;
}

.searchBox-3Y2Vi7 {
    background-color: rgba(0, 0, 0, 0.3) !important;
}