/*
* HEADS-UP!
* If you're trying to install the theme into Discord, you should not be reading this.
* Installing this file directly into Discord will DISABLE the auto-update functionality.
* Instead install "Miku_theme-auto_update.theme.css" located at: https://github.com/MythikAngel/miku-discord-theme/releases/latest
* and ignore this file.
* More in-depth instructions can be found at the homepage of the theme: https://github.com/MythikAngel/miku-discord-theme
*/

/* NOTE: background */
.app {
    background-image: url("https://i.imgur.com/0V46JBJ.jpg");
    background-size: cover !important;
    /* background-position: center; */
}

/* NOTE: Square avatars */
.image-33JSyf, .wrapper-2F3Zv8, .avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge, .avatarHint-1qgaV3, .avatarWrapper-3H_478, .callAvatar-v-u4BM.voice-2D-tt_, .callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI
{
    border-radius: var(--avatar-radius, 0px) !important;
}

/* NOTE: main chat */

.theme-dark .messages-wrapper,.theme-dark .chat form   {
    background-color: rgba(0,0,0,0.65) !important;
}

.chat .content {
    background-color: rgba(0,0,0,0) !important;
}

.theme-dark .channel-textarea-inner {
    background-color: rgba(16,16,16,0.4);
    /*margin-right: 15px;
    margin-left: 15px;*/
}

.theme-dark .chat form {
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
}

/* NOTE: friend list */
.theme-dark #friends {
  background-color: rgba(0,0,0,0.6) !important;
}

.theme-dark .chat>.content, .theme-dark .friends-table {
  background-color: rgba(0,0,0,0) !important;
}

.theme-dark #friends .friends-table .friends-row:hover {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* NOTE: Chat topbar */
.title-3qD0b- {
  background-color: rgba(0,0,0,0.7) !important;
}

/* NOTE: sidebar */

div.guild-header header {
  background-color: rgba(0,0,0,0.74) !important;
}

div.privateChannels-1nO12o,div.scroller.guild-channels {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

div.flex-vertical.channels-wrap {
  background: rgba(0,0,0,0) !important;
}

.guild-header ul {
    top: -56px;
    padding-top: 100px;
    background-color: rgba(18, 18, 18, 0.9) !important;
}

/* On hover */
.channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a {
    background-color:  rgba(0,0,0,0.3) !important;
}

/* NOTE: select highlight */
div.channel.channel-text.selected,.guild-channels .channel-text:hover, .private-channels .channel.selected, .private-channels .channel:hover   {
  background: rgba(0, 0, 0, 0.2) !important;
}
.guild-channels .channel-text.selected:before, .private-channels .channel.selected:before {
  border-left: 2px solid var(--main-color, #E20B6C);
}

.guild-channels .channel-text:hover.channel-muted:before, .guild-channels .channel-text:hover:not(.unread):before, .private-channels .channel:hover:before  {
  border-left: 2px solid var(--main-color, #E20B6C);
  opacity: .25;
}

/* NOTE: Sidebar account shizzle & co */
div.account, ul.links, div#voice-connection, .container-1UB9sr {
  background-color: rgba(0,0,0,0.80) !important;
  border-top: 1px solid rgba(0,0,0,0.13) !important;
  border-bottom: 1px solid rgba(0,0,0,0.13) !important;
}

.account .btn, #voice-connection .btn {
  background-color: rgba(0,0,0,0.05) !important;
}

/* NOTE: Complete to the left sidebar */
div.guilds-wrapper {
  background: rgba(0,0,0,0.8);
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
  background-color: var(--main-color, #E20B6C) !important;
}

/* NOTE: right server sidebar */
.theme-dark .channel-members {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
  background: rgba(0,0,0,0.4);
}

.guilds-wrapper .guilds-add {
  background: rgba(30,33,36,0.2);
}

/* NOTE: Friendlist upperbar */
.theme-dark #friends .friends-header {
  background-color: rgba(0,0,0,0.1) !important;
  border-bottom: 1px solid rgba(40, 43, 48, 0.1) !important;
}

.search-bar {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* NOTE: Typing... bar */
.typing-2GQL18 {
  background-color: rgba(0, 0, 0, 0.4) !important;
}


/* NOTE: Scrollbar */
.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-color: rgba(0, 0, 0, 0.0) !important;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb  {
  background-color: var(--hover-color, #C60962) !important;
  border-color: transparent !important;
}

/* NOTE: Text scroll fix */
div.channel-textarea-inner textarea {
    overflow: auto !important;
}

/* NOTE: unread server icon */
.guild-1EfMGQ.unread-qLkInr:before, .unread-1Dp-OI {
    background: var(--main-color, #E20B6C) !important;
    opacity: 0.7;
}

/* NOTE: Bigger account avatar */
div.account .avatar-small {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.account .account-details {
  padding: 0 7px;
}

/* NOTE: Black transparent (online status) popup */
.menu-Sp6bN1 {
  background: rgba(0,0,0,0.8) !important;
}

.theme-dark .item-1GzJrl:hover {
    background-color: var(--main-color, #E20B6C);
    opacity: 0.6;
    color: #fff;
}

.separator-2zcjq8 {
    background-color: var(--main-color, #E20B6C);
    opacity: 0.8;
}


/* NOTE: Settings background */
.form.settings {
  background-size: cover !important;
  background-position: center !important;
}

.settings .settings-actions {
  background-color: rgba(0, 0, 0, 0.6);
  border-top: none !important;
}

.settings .settings-inner {
  background-color: rgba(0, 0, 0, 0.5);
}

.settings .settings-header  {
  background-color: rgba(0,0,0,0.8);
  border-right: none !important;
}

div.tab-bar.SIDE {
	overflow: hidden;
}

 /* NOTE: Fixing the text... */
.form .control-group input[type=text], .form .control-group input[type=email], .form .control-group input[type=password], .form .control-group input[type=number], .form .control-group textarea {
  color: #eee;
  background-color: transparent !important;
  transition: .4s;
}

.form .control-group input[type=text]:focus, .form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=number]:focus, .form .control-group textarea:focus {
  border-bottom: 2px solid #C60978;
  transition: .4s;
}

.tab-bar.SIDE .tab-bar-item {
  color: rgba(255,255,255,0.45);
  transition: .3s;
}

.form .control-group label a, .user-settings-modal a, .guild-settings-modal-members .guild-settings-modal-members-footer a, #permissions .permissions-helpdesk {
  color: var(--main-color, #E20B6C);
  transition: .3s;
}

.form .control-group label a:hover, .user-settings-modal a:hover, .guild-settings-modal-members .guild-settings-modal-members-footer a:hover, #permissions .permissions-helpdesk:hover {
  color: #BC095D;
  transition: .3s;
}

.form .control-group label {
  color: #A1ACBA;
}

.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-accounts-list h3, .settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-accounts-list .checkbox, .settings-connections-wrapper .empty-state p, body, .form .control-group label, .user-settings-modal-games .games-table .games-row .item-game .last-played, .user-settings-locale .select-item .primary, .user-settings-security button, .user-settings-security p, #user-profile-modal .guilds .guild, #user-profile-modal .guilds .section .section-header {
  color: #eee;
}
.instant-invites .instant-invites-list .instant-invite .channel, .instant-invites .instant-invites-list .instant-invite .member, .message-group .comment .markup {
  color: #eee;
}

.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-accounts-list .user-settings-modal-accounts-list-description .user-settings-modal-accounts-list-description-inner, .form .control-group .help-text, .user-settings-locale p, .protip, .note textarea, .instant-invites .instant-invites-list .instant-invite, .guild-settings-modal-integrations .guild-settings-modal-integrations-header, .guild-settings-modal-members .guild-settings-modal-members-header .form .Select .Select-value, .search-bar.search-bar-light input, .guild-settings-modal-emoji .guild-settings-modal-emoji-header p, #user-profile-modal .guilds .guild .guild-nick {
  color: rgba(223,223,223,0.95);
}

.guild-settings-modal-emoji .no-emoji p, .modal-content .form-inner p, .message-group h2 strong {
  color: rgba(223,223,223,0.95);
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span { /* NOTE: Checkbokses */
    background-color: var(--main-color, #E20B6C);
    border-color: var(--main-color, #E20B6C);
}

.radio .radio-inner span:after { /* NOTE: Radio buttons */
  background-color: var(--main-color, #E20B6C) !important;
}

.radio-theme input[type=radio]:checked~label { /* NOTE: Style select */
  border-color: var(--main-color, #E20B6C) !important;
}

.user-settings-modal .link-button {
  color: var(--main-color, #E20B6C) !important;
}

/* NOTE: Sidebar */
.tab-bar.SIDE .tab-bar-item:before {
  border-left: 4px solid var(--main-color, #E20B6C);
}

/* NOTE: Tabs */
.tab-bar.TOP .tab-bar-item, .tab-bar.TOP .tab-bar-item:hover {
  color: rgba(204, 204, 204, 0.8) !important;
}

.tab-bar.TOP .tab-bar-item.selected {
    border-bottom: 2px solid var(--main-color, #E20B6C) !important;
    color: var(--main-color, #E20B6C) !important;
    transition: .3s;
}

/* NOTE: Button */
.form .btn-primary {
  background-color: var(--main-color, #E20B6C) !important;
}

.form .btn-primary:hover, .create-guild-container.deprecated .action:hover.join .btn {
  background-color: var(--hover-color, #D30A68) !important;
}

.form .btn-default {
  background-color: transparent !important;
  border-bottom: 2px solid #FF0B4A !important;
  color: var(--main-color, #E20B6C) !important;
}

/* NOTE: Slider */
.slider-bar-fill {
  background-color: var(--main-color, #E20B6C) !important;
}

/* NOTE: Help button */
.btn-help:hover {
    background: #E03585;
}

/* NOTE: Dropdown menu */
.Select-control, .Select-menu-outer {
  background-color: rgba(0,0,0,0.6) !important;
  color: white;
}

/* NOTE: Games */
.user-settings-modal-games {
    background: rgba(0, 0, 0, 0.3);
  }

input.game-input {
  color: #eee !important;
  font-style: italic !important;
}

.has-value>.Select-control>.Select-placeholder, .form .Select-option, .form .has-value .Select-placeholder {
  color: #eee !important;
}

.form .Select-option.is-focused {
  background: rgba(226, 11, 108, 0.65) !important;
}

.now-playing.no-detection {
  background: rgba(0, 0, 0, 0.7);
}

/* NOTE: Streamer mode */
.user-settings-streamer-mode {
  background-color: transparent !important;
}

.protip .tip a {
  color: var(--main-color, #E20B6C);
}

/* NOTE: Security */
.user-settings-security .btn-ghost {
    background: rgba(6,6,6,0.5);
    border-color: rgba(6,6,6,0.5);
}

.user-settings-security .btn-ghost:hover {
    background: rgba(6,6,6,0.8);
    border-color: rgba(6,6,6,0.8);
}

/* NOTE: BetterDiscord */
div#bd-customcss-innerpane {
  color: Black;
}

/* NOTE: Scrollbar */
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  background-color: var(--main-color, #C60962) !important;
  border-color: transparent !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-color: transparent;
}

/* NOTE: Tooltip */
.tooltip {
    background-color: var(--main-color, #E20B6C) !important;
}

.tooltip.tooltip-top:after {
	border-top-color: var(--main-color, #E20B6C) !important;
}

.tooltip.tooltip-left:after {
    border-left-color: var(--main-color, #E20B6C) !important;
}

.tooltip.tooltip-right:after {
border-right-color: var(--main-color, #E20B6C) !important;
}


.tooltip.tooltip-bottom:after {
border-bottom-color: var(--main-color, #E20B6C) !important;
}

/* NOTE: User popout */
.userPopout-3XzG_A {
  background: url(https://i.imgur.com/B84800C.jpg) var(--main-color, #E20B6C) !important;
  background-size: cover !important;
}

.headerNormal-T_seeN {
    background-color: rgba(32, 34, 38, 0.8) !important;
}

.body-3iLsc4, .footer-1fjuF6 {
    background-color: rgba(47, 49, 54, 0.7) !important;
}

.user-popout .avatar-wrapper .avatar-popout {
  border: 4px solid rgba(226,11,108,0.8);
}

.user-popout .body, .user-popout .footer {
    background: rgba(0, 0, 0, 0.75);
}

.headerPlaying-j0WQBV { /*Now Playing a game*/
    background: rgba(0, 0, 0, 0.65);
}

/* Message box */
.quickMessage-1yeL4E {
    background-color: rgba(0, 0, 0, 0.35) !important;
    border-color: #23262a !important;
}

/* NOTE: User profile */
div#user-profile-modal, .root-SR8cQa {
        background-image: url(https://i.imgur.com/5cSbBET.jpg);
        background-size: cover;
        background-position: center;
}

#user-profile-modal .scroller, #user-profile-modal .empty {
    background: rgba(0,0,0,0.5);
  }

.topSectionNormal-2-vo2m {
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.3);
}

.body-3ND3kc {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-bottom: none !important;
  }

#user-profile-modal .guilds .guild:hover {
  background: rgba(0, 0, 0, 0.44);
}

.note textarea {
  background: none !important;
}

#user-profile-modal .header .discord-tag .discriminator {
    color: rgba(255,255,255,0.5);
}

/* Profile overview */
.topSectionPlaying-1J5E4n, .topSectionNormal-2-vo2m {
    background: rgba(0, 0, 0, 0.75) !important;
}

.headerFill-adLl4x {
    background-color: transparent !important;
}

/* NOTE: Context menu */
.theme-dark.context-menu, .theme-dark.context-menu .context-menu, .contextMenu-HLZMGh, .contextMenu-HLZMGh {
    background: rgba(0,0,0,0.8) !important;
}

.item-1Yvehc:hover, .itemSubMenu-1vN_Yn:hover, .item-1Yvehc:hover {
    background-color: var(--main-color, #E20B6C) !important;
    /* opacity: 0.58;  (this brakes to invite to server menu)*/
}


.itemSubMenu-1vN_Yn {
  background-color: transparent !important;
}

/* NOTE: Server settings */
.region-select button {
  color: var(--main-color, #E20B6C);
}

.region-select:hover .region-select-inner, .region-select:hover button {
  border-color: var(--main-color, #E20B6C);
}

.region-select:hover button {
  background-color: var(--main-color, #E20B6C);
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations p {
  color: rgba(224, 222, 224, 0.7);
}

.guild-settings-modal-members {
  background-color: rgba(0, 0, 0, 0.6);
}

.guild-settings-modal-members .guild-settings-modal-list .member .member-username {
    color: rgba(238, 238, 238, 0.8);
  }

/* NOTE: Purne members */

/* NOTE: Delete message */
.inner-1JeGVc/*:not(:has(.quickswitcher-3JagVE))*/ {
  background-image: url(https://i.imgur.com/nIjSGZI.jpg);
  background-size: cover;
  background-position: center;
}

.footer-2yfCgX {
    background: rgba(0, 0, 0, 0.3) !important;
}

.modal-3HD5ck {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.message-2qRu38 {
    background-color: rgba(17, 17, 17, 0.6) !important;
}

.form .form-actions {
  background-color: rgba(0, 0, 0, 0.3);
  border-top: none;
}

.form header {
    color: var(--main-color, #E20B6C);
  }


/* NOTE: Roles */
#settings-roles .roles li.selected, #settings-roles .roles li:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}

#settings-roles .roles li.selected:before {
    color: var(--main-color, #E20B6C);
    background-color: var(--main-color, #E20B6C);
}

#settings-roles .roles li:hover:before {
  background-color: #E03384;
}

/* NOTE: Custom emotes */

.guild-settings-modal-emoji .emoji-row .emoji-name {
    background-color: rgba(0,0,0,0.5);
    color: #eee;
}

.guild-settings-modal-emoji .emoji-row:hover .emoji-name {
    background-color: rgba(0,0,0,0.3);
    border-color: var(--main-color, #E20B6C);
}

/* NOTE: Security */
.guild-settings-modal-security .control-group .help-text a {
  color: var(--main-color, #E20B6C);
}


/* NOTE: Join/create server */
.create-guild-container.deprecated .form.deprecated {
  background-image: url(https://i.imgur.com/edRYstS.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.create-guild-container.deprecated .form.deprecated h5 {
  color: var(--main-color, #E20B6C)  !important;
}

.create-guild-container.deprecated .create-or-join .form-inner, .form-deprecated .form-inner, .form.deprecated .form-inner {
  background: rgba(0,0,0,0.6) !important;
}

.create-guild-container.deprecated .action {
    background: hsla(0, 0%, 18%, 0.75) !important;
  }

.form-deprecated .form-actions, .form.deprecated .form-actions {
    background-color: rgba(0, 0, 0, 0.8);
}

.create-guild-container.deprecated p, .form.deprecated .control-group input[type=text], .form-deprecated .control-group label, .form.deprecated .control-group label {
    color: #e9e6e6;
}

.create-guild-container.deprecated .join-server .sample-link {
    color: var(--main-color, #E20B6C);
    font-weight: bold;
}

.form-deprecated .control-group .help-text, .form.deprecated .control-group .help-text, .avatar-uploader .size-info, .regionSelectName-2-2FWh, .create-guild-container.deprecated .join-server .link-container label {
  color: #d6d6d6
}

form-deprecated header, .form.deprecated header {
    color: #b9c7f7;
}

/* NOTE: Message edit */
.message-group .edit-message .channel-textarea-inner {
    border-color: rgba(226,11,108,0.75);
}

.message-group .edit-message .edit-operation>a {
  color: rgba(226,11,108,0.9);
}

/* NOTE: !! NEW SETTINGS !! */

/*Main background*/
.standardSidebarView-3F1I7i {
    background-image: url("https://i.imgur.com/IvDTF3G.jpg") !important;
    background-size: cover !important;
}

/*Elemenating solid background*/
.contentRegion-3nDuYy  {
    background: rgba(0,0,0,0.6) !important;
}

.sidebarRegion-VFTUkN  {
    background: rgba(0,0,0,0.8) !important;
}

/*Buttons and stuff*/
.ui-button.brand.filled {
    color: #fff;
    background-color: rgba(226, 11, 108, 0.8);
}

.ui-tab-bar-item.selected, .ui-tab-bar-item:active {
    background-color: rgba(226, 11, 108, 0.8) !important;
}

/*Fixing text*/
.style-description, .style-label-descriptor {
    color: rgba(183, 183, 183, 0.9);
}


/*Voice connection box fix*/
#rtc-connection {
    background: rgba(0, 0, 0, 0.78);
}

#rtc-connection .btn {
    background: none;
}

/*2017-6-9 fix*/
.container-2Thooq {
    background: rgba(0, 0, 0, 0.77);
    margin-bottom: 0;
}

.container-PNkimc {
    background-color: rgba(0, 0, 0, 0.7);
}

.contentSelectedText-3wUhMi {
    background-color: rgba(0, 0, 0, 0.25);
}

.container-1UB9sr { /*Voice*/
    background: rgba(0, 0, 0, 0.77);
}

/*Del mesg background fix*/
.modal-content {
  background-color: transparent;
}

/*Highlight direct DM fix*/
.private-channels .channel:hover a, .private-channels .channel.selected a {
  background-color: transparent;
}

/*Server settings member select background*/
.ui-hover-card:before {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/*Settings text-fix*/
.description-3_Ncsb, .labelDescriptor-1PqHgD, .text-GwUZgS, .title-2BxgL2 {
    color: #a0a0a0 !important;
}

/*Direct call background fix*/
.theme-dark .ui-video {
    background-color: transparent;
}

.wrapper-29NfPK {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/*Settings input border color*/
.ui-text-input .input.editable:focus:focus, .ui-text-input .input.editable:hover:focus, .ui-text-input .input:focus {
    border-color: var(--main-color, #E20B6C) !important;
}

/*Pinned msg transparent*/

.themed-popout {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.messages-popout-wrap .messages-popout .message-group {
    background-color: rgba(0,0,0,0.3) !important;
}

.themed-popout .header {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
  background-color: rgba(0,0,0,0.15);
}

/*Settings pink*/
.buttonBrandFilled-3Mv0Ra {
  background-color: var(--main-color, #E20B6C)
}

.buttonBrandFilledDefault-2Rs6u5:hover {
  background-color: #C1095F;
}

/*27-10-17 fix*/
.container-2lgZY8, .channels-Ie2l6A {
    background-color: transparent;
}

.theme-dark .headerBar-UHpsPw {
    background: rgba(0, 0, 0, 0.25);
}

.theme-dark .title-3qD0b- {
    background: rgba(0, 0, 0, 0.73);
}

/*17-1-18 fix*/
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: transparent;
}

/* transparent popout menu (message edit, etc) */
.small-popout-box {
    background: rgba(6, 6, 6, 0.6); /* Transparent background */
    border: 1px solid rgba(241, 235, 235, 0.38); /* Border */
}

.option-popout .btn-item {
    color: #d0d1d2; /* Text color */
  }

  .option-popout .btn-item:hover {
      color: #ffffff; /* Text color on hover */
  }

/* Popup on new server creation */
.wrapper-O5i5-0 {
    background: #4e4e4e;
}

.form-deprecated .form-header, .form.deprecated .form-header {
    background: #151515;
}

.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-actions, .wrapper-O5i5-0 .instantInviteModalAdvanced-3qJETM .form-actions {
    background-color: #151515;
}

.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-header header, .has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: #bfbfbf;
}

.wrapper-O5i5-0 .instantInviteModal-3vhcvC .blurb-zsamaY {
    color: #c5c6c7;
}

.Select-option.is-selected {
    background-color: #dedede;
}

/* NOTE: Call overlay */

.video-1FfuMD {
    background-color: rgba(17, 17, 17, 0.5);
}

/* (Settings) buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91, .side-8zPYf6 .itemSelected-1qLhcL, .themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--main-color, #E20B6C) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--hover-color, #E20B6C) !important;
}

/* Hyperlinks */
.message-group a {
  color: var(--main-color, #E20B6C) !important;
}

/* Transparent background on hover member on server member list */
.member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* DM icon background color */
.guilds-wrapper .guilds .guild.active:first-of-type .guild-inner {
    background: var(--main-color, #E20B6C) !important;
}

/* Server icon background color */
.guilds-wrapper .guilds .guild .guild-inner {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* 6-4-2018 server userlist background fix */
.members-1998pB {
    background-color: rgba(0, 0, 0, 0.45) !important;
}

/* 28-04-2018 fix */
.container-2lgZY8,.layer-3QrUeG, .layers-3iHuyZ, .channels-Ie2l6A {
  background-color: transparent !important;
  background: none !important;
}

.container-2Thooq {
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
}

.container-PNkimc { /* Server channel bar */
    background-color: rgba(0, 0, 0, 0.7);
}

.contentSelectedText-3wUhMi {
    background-color: rgba(0, 0, 0, 0.23);
}

.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: rgba(0, 0, 0, 0.12);
}

/* Quickswitcher */
.quickswitcher-3JagVE { /*Main BG*/
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.input-2VB9rf { /*Searchbox*/
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.resultFocused-3aIoYe { /*Result*/
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.contentUnread-3gTHvA .note-S--UP5, .tipsMiscControls-vCHjy1, .tipsWithResults-HhTE9b, .tipsWithoutResults-lGY-De, .emptyStateNote-ZYTetQ /*Small Text*/ {
    color: #9e9fa2 !important;
}

/* New server invite people box */
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW {
    background-color: rgba(0, 0, 0, 0.4);
}

.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
    background-color: var(--main-color, #E20B6C);
    opacity: 0.8;
}

/* NOTE: Games tab */
.activityFeed-28jde9 {
    background-color: rgba(0, 0, 0, 0.65) !important;
}

.card-7JP0BX {
    background-color: rgba(0, 0, 0, 0.55) !important;
}


.body-SKIE6r {
    background-color: rgba(40, 40, 40, 0.3) !important;
}

.header-1RC2Wb {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.article-FleDq5 {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.news-2GDtLJ {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.carousel-JbsNzL {
    background-color: transparent !important;
}

.paginationItem-3-MBTL:after {
    background: linear-gradient(270deg,transparent 0,rgba(0, 0, 0, 0.65));
}

.emptyState-2-sT0o {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* Message button */
.headerButtonColor-G7_f-V, .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background: rgba(0, 0, 0, 0.5) !important;
}

.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: var(--main-color, #E20B6C) !important;
}

/* Game preview */
.gamePreview-9weYR2 {
   background-color: rgba(0, 0, 0, 0.9) !important;
}

.body-1SVoBw {
    background-color: transparent !important;
}

.info-P9dFwH {
    background-color: #151414 !important;
}

.splashBackup-1SNkdx {
    background-image: url(https://i.imgur.com/GL3dW1d.jpg) !important;
    background-size: cover;
    background-position: center;
}

/* Quick launcher */
.dockItem-2kQDqg:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--main-color, #E20B6C) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: var(--hover-color, #E20B6C) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
    background-color: #353535 !important;
}

/* NOTE: Miku friend list icon */
.guild-1EfMGQ:first-of-type .guildInner-3DSoA4 {
	background-image: url("https://i.imgur.com/RtY43hk.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
}

.homeIcon-1FoKUJ {
    color: transparent !important;
}

.guild-1EfMGQ:first-of-type .guildInner-3DSoA4 .wrapper-2F3Zv8:first-of-type {
    background: #666; /* The Number of the Beast */
}

/* NOTE: Blocked messages */
.messageGroupBlocked-3wrQQX.revealed-1_RKsf, .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: rgba(0, 0, 0, 0.3) !important;
    border-color: rgba(0, 0, 0, 0.3) !important;
}

/* NOTE: Discord game store */
.applicationStore-1pNvnv {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0, 0, 0, 0.45) !important;
}

.searchBox-3Y2Vi7 {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* NOTE: Game libary */
.gameLibrary-TTDw4Y {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.header-39GIC8 {
    background-color: rgba(0, 0, 0, 0.3);
}

/* NOTE: Emergency fix */
/* Temporary fix until discord-diff is updated */
.chat-3bRxxu, .chat-3bRxxu form, .content-yTz4x3 {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.messagesWrapper-3lZDfY {
    background-color: rgba(0, 0, 0, 0.33) !important;
}

.chat-3bRxxu form {
    margin: 0 !important;
}

.inner-zqa7da {
    margin: 0 20px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.guildsWrapper-5TJh6A {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

/* Statusbox */
.container-2Thooq {
    background: rgba(0, 0, 0, 0.8) !important;
}

/* Message option menu */
.container-3cGP6G {
    background: rgba(0, 0, 0, 0.5) !important;
}

.item-2J1YMK:active, .item-2J1YMK:hover {
    background-color: var(--hover-color, #E20B6C) !important;
    opacity: 0.8;
}
