$mainBg: url("https://i.imgur.com/EUqYkrm.jpg");
$settingsBg: url("https://i.imgur.com/VJMmdW3.jpg");
$friendListBg: url("https://i.imgur.com/EQ9ex3N.png");
$profileBg: url("https://i.imgur.com/5cSbBET.jpg");
$profilePopoutBg: url("https://i.imgur.com/B84800C.jpg");
$addServerBg: url("https://i.imgur.com/edRYstS.jpg");