$mainBg: var(--main-bg, url("https://i.imgur.com/kQqqpwf.jpg"));
$settingsBg: url("https://i.imgur.com/VJMmdW3.jpg");
$friendListBg: url("https://i.imgur.com/mkGeorh.jpg");
$profileBg: url("https://i.imgur.com/5cSbBET.jpg");
$profilePopoutBg: url("https://i.imgur.com/B84800C.jpg");
$addServerBg: url("https://i.imgur.com/edRYstS.jpg");